.explore {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 40rem;
  margin: 0 auto;
  border-radius: 20px;

}

.explore img {
  height: 35rem;
  z-index: 100;
  border: solid white 0.25rem;
}

.chooseButtons {
  z-index: 100;
  display: flex;
  margin: 1rem;
}

button {
  margin: 1rem;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile p {
  font-size: 4rem;
  margin: 0.5rem;
}

.profile div {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
}

.lvl {
  color: rgba(2, 255, 2, 0.918);
}
