.explore {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.explore img {
  height: 40rem;
  z-index: 100;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.chooseButtons {
  z-index: 100;
  display: flex;
  margin: 1rem;
}

button {
  margin: 1rem;
}
