.listContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2%;
    z-index: 100;
}

.profilesList{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
    height: 65vh;
    overflow-y: scroll;
}

.profileCard{
    background: rgba(4, 8, 21, 0.50);
    border-radius: 20px;
    min-height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.cardContents{
    display: flex;
    align-items: center;
}

.cardContents img{
    width: 4rem;
    border-radius: 10px;
    padding-right: 1rem ;
}

.chatContainer{
    width: 58%;
    border-radius: 20px;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message{
    font-size: 1.5rem;
    font-weight: normal;
}