.listContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2%;
    z-index: 100;
}

.profilesList{
    width: 40%;
    height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.profileCard{
    background: rgba(4, 8, 21, 0.50);
    border-radius: 20px;
    margin-bottom: 0.5rem;
    min-height: 7rem;
    display: flex;
    align-items: center;
    padding: 0 1rem 0 1rem;
}

.cardContents{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.cardContents img{
    width: 6rem;
    border-radius: 10px;
}

.chatContainer{
    width: 58%;
    border-radius: 20px;
    background: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardText{
    padding-left: 3rem;
    flex-grow: 1;
}


.message{
    font-size: 1.5rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}

@media screen and (max-width: 1100px) {
    .cardText {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .chatContainer{
        display: none;
    }
    .profilesList{
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    .profileCard{

        min-height: 5rem;

    }

    .cardContents img{
        width: 4rem;
        border-radius: 10px;
    }

    .cardText p{
        font-size: 1.2rem;
    }
}



