.profileContainer{
    font-size: 4vw;
}

.profileContainer h1{
    font-size: 2em;
    margin: 1rem;
    text-size-adjust: auto;
}

.centeredContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.columnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}


.columnContainer img{
    border-radius: 10px;
    max-width: 100%;

}

.stats img{
    margin: 0 2rem 10% 2rem;

}

.stats{
    margin-top: 5rem;
    padding: 2rem 0 2rem 0;
    background: rgba(4, 8, 21, 0.50);
    border-radius: 20px;
}

.games{
    flex-grow: 1;
    padding: 0.5rem 2rem;
    height: 25vh;
}

.desc{
    margin-top: 5rem;
    display: flex;
    justify-items: center;
    height: 25vh;
    flex-grow: 1;
    padding: 0.5rem 2rem;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 6rem;
}

.textContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 3vw;
    text-size-adjust: auto;
}

.textContainer p{
    font-size: 1em;
}
